@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Roboto";
  background: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
html {
  scroll-behavior: smooth;
}

@media (min-width: 1260px) {
  .header {
    background-color: #000;
    color: white;
  }
}
.header__wrapper {
  padding: 39px 0;
}
@media (max-width: 1260px) {
  .header__wrapper {
    padding: 16px 0;
  }
}
.header__menu {
  max-width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
}
.list__item {
  font-size: 16.64px;
  text-transform: uppercase;
  line-height: 29.1px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}
.list__item:hover {
  color: #ff8a56;
  transform: scale(1.05);
}
.list__item:active {
  color: #ff8a56;
  transform: scale(0.95);
}
@media (max-width: 360px) {
  .list__item {
    font-size: 13px;
  }
}
@media (max-width: 1260px) {
  .list {
    justify-content: center;
    gap: 15px;
    font-weight: 600;
  }
}

.hero {
  position: relative;
  height: 700px;
  padding: 60px 0 0px 0;
}
@media (max-width: 1171px) {
  .hero {
    padding: 40px 0 90px 0;
  }
}
@media (max-width: 1009px) {
  .hero {
    height: 750px;
    padding: 40px 0 40px 0;
  }
}
.hero__wrapper {
  position: relative;
  display: flex;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 20px 20px 0 20px;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1009px) {
  .hero__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.hero__theme {
  margin: -1px 0 0 0;
  max-width: 594px;
}
@media (max-width: 1009px) {
  .hero__theme {
    margin: 0;
  }
}
.hero__title {
  max-width: 594px;
}
.hero__name {
  font-size: 72px;
  font-weight: bold;
  line-height: 82.5px;
  color: #FF8A56;
  margin: 0 0 5px 0;
}
@media (max-width: 1171px) {
  .hero__name {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 460px) {
  .hero__name {
    font-size: 37px;
    line-height: 45px;
  }
}
@media (max-width: 360px) {
  .hero__name {
    font-size: 30px;
    line-height: 35px;
  }
}
.hero__info {
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 2px;
  margin: 0 0 18px 0;
}
@media (max-width: 1171px) {
  .hero__info {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 460px) {
  .hero__info {
    font-size: 18px;
    line-height: 20px;
  }
}
.hero__teach {
  color: #666;
  font-weight: 300;
  font-size: 22px;
  margin: 0 0 55px 0;
}
@media (max-width: 1171px) {
  .hero__teach {
    font-size: 12px;
    margin: 0 0 30px 0;
  }
}
.hero__picture-box {
  width: 560px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1171px) {
  .hero__picture-box {
    max-width: 460px;
  }
}
@media (max-width: 1009px) {
  .hero__picture-box {
    max-width: 280px;
  }
}
.hero__picture {
  max-width: 100%;
}
.hero__btn {
  width: 50px;
  color: #fff;
  background-color: black;
  padding: 15px 25px;
}
@media (max-width: 460px) {
  .hero__btn {
    font-size: 11px;
  }
}

blockquote {
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  position: absolute;
  bottom: 30px;
  left: 70px;
  max-width: 570px;
}
@media (max-width: 1171px) {
  blockquote {
    max-width: 350px;
  }
}
@media (max-width: 1009px) {
  blockquote {
    position: absolute;
    font-size: 16px;
    bottom: -105px;
    left: 30px;
  }
}
@media (max-width: 416px) {
  blockquote {
    font-size: 37px;
    font-size: 14px;
    max-width: 300px;
    left: 0;
  }
}

.info {
  padding: 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.info__wrapper {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1009px) {
  .info__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.info__block {
  flex: 0 0 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1009px) {
  .info__block {
    flex: 1 1;
  }
}
.info__pin {
  max-width: 50px;
}
@media (max-width: 1009px) {
  .info__pin {
    max-width: 30px;
  }
}
.info__title {
  color: #FF8A56;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 26px;
}
@media (max-width: 1009px) {
  .info__title {
    font-size: 18px;
    line-height: 20px;
  }
}
.info__text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1009px) {
  .info__text {
    font-size: 14px;
  }
}

.courses {
  position: relative;
  padding: 20px 0;
}
.courses__title {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1009px) {
  .courses__title {
    font-size: 18px;
    padding: 0 15px;
  }
}
@media (max-width: 416px) {
  .courses__title {
    font-size: 16px;
    padding: 0 10px;
  }
}
.courses__title:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 2px;
  background-color: #FF8A56;
}
.courses__title:after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background-color: #333;
}
.swiper-block__box {
  display: flex;
  gap: 15px;
  padding: 40px 0;
}
.swiper-block__image {
  height: 350px;
  max-width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 3px solid black;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.767);
}
.swiper-block__image:hover {
  transform: scale(1.1);
  transition: 1s ease;
}
@media (max-width: 1009px) {
  .swiper-block__image {
    height: 230px;
    max-width: 330px;
  }
}

.courses-container {
  overflow-x: scroll;
  max-width: 100%;
}

.gallery {
  padding: 10px 0 30px 0;
}
@media (min-width: 1009px) {
  .gallery__flex {
    display: flex;
    gap: 15px;
  }
}
@media (max-width: 1009px) {
  .gallery__flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.gallery__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.gallery__title {
  position: relative;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-align: center;
}
@media (max-width: 1009px) {
  .gallery__title {
    font-size: 22px;
    padding: 0 20px;
  }
}
.gallery__title:before {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  bottom: -10px;
  left: -10px;
  height: 2px;
  background-color: black;
  margin: 0 auto 10px auto;
}
.gallery__block {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.gallery__image {
  max-width: 100%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 2px 2px 10px 1px black;
}
.gallery__image:hover {
  transform: scale(1.02);
  transition: 1s ease;
}

.gallery-margin-top {
  margin-top: 20px;
}

.gallery-margin-bottom {
  margin-bottom: 30px;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox__img {
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.lightbox__close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 99999;
}

body.noscroll {
  overflow: hidden;
}

.studying__wrapper {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 40px;
  text-align: left;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  border-radius: 12px;
}
@media (max-width: 1009px) {
  .studying__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 10px 30px;
  }
}
.studying__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1009px) {
  .studying__block {
    flex: 1 1;
  }
}
@media (max-width: 416px) {
  .studying__block {
    gap: 10px;
  }
}
.studying__pin {
  align-self: flex-start;
  max-width: 50px;
}
@media (max-width: 1009px) {
  .studying__pin {
    max-width: 30px;
  }
}
@media (max-width: 416px) {
  .studying__pin {
    max-width: 20px;
  }
}
.studying__title {
  align-self: flex-start;
  color: #FF8A56;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 26px;
}
@media (max-width: 1009px) {
  .studying__title {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 416px) {
  .studying__title {
    font-size: 16px;
    line-height: 18px;
    margin-left: 0;
  }
}
.studying__text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 1009px) {
  .studying__text {
    font-size: 14px;
  }
}
@media (max-width: 416px) {
  .studying__text {
    font-size: 10px;
  }
}

.upwork__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #ff8956;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  animation: float 3s infinite ease-in-out;
  transition: box-shadow 0.4s ease, transform 0.4s ease, filter 0.4s ease;
}
.upwork__wrapper:hover {
  animation: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-8px);
}
@media (max-width: 1009px) {
  .upwork__wrapper {
    padding: 20px;
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.upwork__title {
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
@media (max-width: 1009px) {
  .upwork__title {
    font-size: 22px;
  }
}
@media (max-width: 525px) {
  .upwork__title {
    font-size: 17px;
  }
}
@media (max-width: 430px) {
  .upwork__title {
    font-size: 12px;
  }
}
.upwork__subtitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1009px) {
  .upwork__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 525px) {
  .upwork__subtitle {
    font-size: 13px;
  }
}
@media (max-width: 430px) {
  .upwork__subtitle {
    font-size: 10px;
  }
}
.upwork__block {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
@media (max-width: 600px) {
  .upwork__block {
    gap: 2px;
  }
}

.contacts__link {
  color: #FF8A56;
  font-size: 16px;
  text-decoration: none;
}
.contacts__link:hover {
  text-decoration: underline;
}
.contacts__icon {
  max-width: 40px;
  font-size: 24px;
  color: #333;
  margin-right: 10px;
}
.contacts__icon:hover {
  color: #FF8A56;
}
@media (max-width: 430px) {
  .contacts__icon {
    max-width: 30px;
  }
}
.contacts__button {
  background-color: rgb(255, 255, 255);
  color: #131313;
  padding: 7px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.contacts__button:hover {
  background-color: #e67a4e;
}
@media (max-width: 430px) {
  .contacts__button {
    padding: 2px 10px;
  }
}

.footer {
  padding: 50px 0;
  background-color: black;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 1009px) {
  .footer__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.footer__item {
  letter-spacing: 1px;
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
}
@media (max-width: 342px) {
  .footer__item {
    font-size: 14px;
  }
}
.footer__item:last-child {
  color: #ff8a56;
}
.footer__item:hover {
  cursor: pointer;
  color: #ff8a56;
  transform: scale(1.1);
}
.footer__item:active {
  transform: scale(0.95);
}
.footer__item:focus {
  outline: 2px solid #ff8a56;
  outline-offset: 4px;
}

.burger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  z-index: 6;
}

.burger-menu_span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.3s;
}

@media (max-width: 1260px) {
  .burger-menu {
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
  }
  .list.open {
    transform: translateY(0);
  }
  .list__item {
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
  }
  .burger-menu.open .burger-menu_span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 10px;
  }
  .burger-menu.open .burger-menu_span:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.open .burger-menu_span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -6px;
  }
}/*# sourceMappingURL=style.css.map */